version: 2.1

jobs:
  private-build-lint-test: &build-lint-test
    docker:
      - image: circleci/node # will be overridden
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Compile
          command: yarn build
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Prettier
          command: yarn prettier
      - run:
          name: Test
          command: yarn test --ci --runInBand --testResultsProcessor=jest-junit
          environment:
            - JEST_JUNIT_ANCESTOR_SEPARATOR: ">"
            - JEST_JUNIT_OUTPUT_DIR: "reports/jest"
      - store_test_results:
          path: reports/jest

  "Node 10":
    <<: *build-lint-test
    docker:
      - image: circleci/node:10

  "Node 12":
    <<: *build-lint-test
    docker:
      - image: circleci/node:12

  "Node 14":
    <<: *build-lint-test
    docker:
      - image: circleci/node:14

  "Publish release":
    working_directory: ~/circleci
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.com/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Publish
          command: yarn publish --dry-run

  "Publish nightly build":
    working_directory: ~/circleci
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.com/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Publish
          command: yarn publish --no-git-tag-version --new-version `node scripts/getNightlyVersion.js` --tag nightly

workflows:
  version: 2
  "Node - supported versions":
    jobs:
      - "Node 10"
      - "Node 12"
      - "Node 14"

  "Publish tagged build":
    jobs:
      - "Node 10"
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+)*/
      - "Publish release":
        requires:
          - "Node 10"
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+)*/
          branches:
            only: /circleci-test-master/

  "Nightly build":
    triggers:
      - schedule:
          cron: 05 7 * * *
          filters:
            branches:
              only:
                - master
    jobs:
      - "Node 10"
      - "Node 12"
      - "Node 14"
      - "Publish nightly build":
          requires:
            - "Node 10"
            - "Node 12"
            - "Node 14"

