version: 2.1

jobs:
  private-build-lint-test: &build-lint-test
    docker:
      - image: circleci/node # will be overridden
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Compile
          command: yarn build
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Test
          command: yarn test --ci --runInBand --testResultsProcessor=jest-junit
          environment:
            - JEST_JUNIT_ANCESTOR_SEPARATOR: ">"
            - JEST_JUNIT_OUTPUT_DIR: "reports/jest"
      - store_test_results:
          path: reports/jest

  "Node 6":
    <<: *build-lint-test
    docker:
      - image: node:6

  "Node 8":
    <<: *build-lint-test
    docker:
      - image: node:8

  "Node 10":
    <<: *build-lint-test
    docker:
      - image: node:10

  "Node 11":
    <<: *build-lint-test
    docker:
      - image: node:11

  "Publish nightly build":
    working_directory: ~/circleci
    docker:
      - image: node:10
      - user: npm-publisher
    steps:
      - checkout
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.com/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Set version
          command: yarn version --no-git-tag-version --new-version `node scripts/getNightlyVersion.js`
      - run:
          name: Publish
          command: npm publish --tag nightly --dry-run

workflows:
  version: 2
  "Node - supported versions":
    jobs:
      - "Node 6"
      - "Node 8"
      - "Node 10"
      - "Node 11"

  "Nightly build":
    triggers:
      - schedule:
          # eventually use:
          # cron: 05 7 * * *
          cron: "0,5,10,15,20,25,30,35,40,45,50,55 16 * * *"
          filters:
            branches:
              only:
                - add-nightly-builds
    jobs:
      - "Node 6"
      - "Node 8"
      - "Node 10"
      - "Node 11"
      - "Publish nightly build":
          requires:
            - "Node 6"
            - "Node 8"
            - "Node 10"
            - "Node 11"

